*{
    background-color: #5123AC;
    background-color: #171F76;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: #faebd7;
}
#Logo {
    width: 220px;
    height: 90px;
    left: 2%;
    position: fixed;
}
.navBar-Container {
    background-color: #11175a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 30px;
    border-radius: 70px;
    width: 550px;
    height: 70px;
    margin-bottom: 170px;
    top: 6%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}
.navBar-Container a {
    background-color: #11175a;
    color: antiquewhite;
    text-decoration: none; 
    font-size: 18px; 
    line-height: 70px; 
    text-align: center;
}
a:hover {
    color: green;
}
#Link1 {
    color: #35DF51;
}
#Link2 , #Link3 , #Link4 {
    color: #faebd7;
}
.navBar-SmallContainer {
    background-color: #11175a;
    display: flex;
    justify-content: right;
    margin: 0;
    gap: 45px;
    border-radius: 30px;
    width: 290px;
    height: 70px;
    margin-bottom: 170px;
    top: 1%;
    right: 1%;
    position: fixed;
}
#SignUp {
    width: 110px;
    height: 45px;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #2503FD;
    color: ivory;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#SignUp:hover{
    background-color:#035603;
}
#LogIn {
    width: 110px;
    height: 45px;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #63157B;
    color: ivory;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#LogIn:hover {
    background-color:#035603;
}
#HeroImage {
    border-radius: 30px;
    opacity: 86%;
    top: 16%;
    right: 1%;
    bottom: 8%;
    position: fixed;
}
.headlinerText-Container {
    background-color: #1e235a;
    opacity: 80%;
    justify-content: left;
    margin: 0;
    border-radius: 60px;
    width: 440px;
    min-height: 90px;
    margin-bottom: 170px;
    top: 18%;
    left: 1%;
    position: fixed;
}
.headline {
    background-color: #1e235a;
    border-radius: 60px;
    color: #faebd7;
    padding: 13px;
    font-size: 37px;
    line-height: 1.3;
    left: 50%;
}
.bodytext {
    background-color: #1e235a;
    border-radius: 60px;
    color: #faebd7;
    font-size: 18px;
    line-height: 1.3;
    padding: 13px;
    left: 50%;
}
#KeyWord {
    background-color: #1e235a;
    border-radius: 60px;
    color: #4AC3FF;
    font-size: 35px;
}
.calltoaction {
    display: flex;
    gap: 60px;
    top: 81%;
    left: 48%;
    position: fixed;
}
#ApplyBtn {
    width: 130px;
    height: 45px;
    margin-top: 30px;
    background-color: #2503FD;
    color: ivory;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    top: 81%;
    left: 48%;
}
#LearnBtn {
    width: 130px;
    height: 45px;
    margin-top: 30px;
    background-color: #420563;
    color: ivory;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#ApplyBtn:hover {
    background-color: #035603;
}
#LearnBtn:hover{
    background-color:#035603;
}
.features1 {
    display: flex;
    gap: 10px;
    top: 73%;
    left: 0%;
    position: fixed;
}
.features2 {
    display: flex;
    gap: 5px;
    top: 73%;
    left: 12%;
    position: fixed;
}
.features3 {
    z-index: 800;
    display: flex;
    gap: 5px;
    top: 89%;
    left: 0%;
    position: fixed;
}
.features4 {
    display: flex;
    gap: 5px;
    top: 90.5%;
    left: 12%;
    position: fixed;
}
footer {
    z-index: 800;
    display: flex;
    flex-direction: column;  
    align-items: center;  
    text-align: center;
    margin-top: auto; 
    padding: 20px 0;
}
#Icons {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-bottom: 10px;  
}
span {
    color: #faebd7;
    font-size: 15px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 125vh;
    margin: 0;
}

main {
    flex: 1; 
}