*{
    background-color: #041638;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: #faebd7;
}

.navBar-Container{
    background-color: rgb(2, 21, 2);
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 30px;
    border-radius: 70px;
    width: 600px;
    height: 70px;
    margin-bottom: 170px;
    top: 6%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.navBar-Container a {
    background-color: rgb(2, 21, 2);
    color: antiquewhite;
    text-decoration: none; 
    font-size: 18px; 
    line-height: 70px; 
    text-align: center;
}
a:hover {
    color: green;
}
.image-Container {
    display: flex;
    margin: 0;
    gap: 30px;
    margin-top: 190px;
    position: absolute;
    border-radius: 25px;
    transform: translate(-1%, -20%);
}
.image {
    border-radius: 25px;
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.image:hover {
    transform: scale(1.05);
}